/* Menu dropdown scroll */

.v-menu__content.theme--dark::-webkit-scrollbar {
    width: 5px !important;
}

.v-menu__content.theme--dark::-webkit-scrollbar-track {
    background: #172431 !important;
    border-radius: 10px !important;
}

.v-menu__content.theme--dark::-webkit-scrollbar-thumb {
    background: #03dac5 !important;
    border-radius: 20px !important;
}

.v-menu__content.theme--dark::-webkit-scrollbar-thumb:hover {
    background: #03dac5 !important;
}

.v-menu__content.theme--light::-webkit-scrollbar {
    width: 5px !important;
}

.v-menu__content.theme--light::-webkit-scrollbar-track {
    background: #c1c1c1 !important;
    border-radius: 0 !important;
}

.v-menu__content.theme--light::-webkit-scrollbar-thumb {
    background: #03dac5 !important;
    border-radius: 20px !important;
}

.v-menu__content.theme--light::-webkit-scrollbar-thumb:hover {
    background: #03dac5 !important;
}


/* Dialog scroll */

.theme--light .v-dialog::-webkit-scrollbar {
    width: 5px !important;
}

.theme--light .v-dialog::-webkit-scrollbar-track {
    background: transparent !important;
    border-radius: 0 !important;
}

.theme--light .v-dialog::-webkit-scrollbar-thumb {
    background: #03dac5 !important;
    border-radius: 20px !important;
}

.theme--light .v-dialog::-webkit-scrollbar-thumb:hover {
    background: #03dac5 !important;
}


/* fields scroll */

.notes_text::-webkit-scrollbar {
    width: 5px;
}

.notes_text::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
}

.notes_text::-webkit-scrollbar-thumb {
    background: #03dac5;
    border-radius: 20px;
}

.notes_text::-webkit-scrollbar-thumb:hover {
    background: #03dac5;
}