/* @import url('https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap'); */


/* @font-face {
    font-family: "NunitoSans Regular";
    src: url('~assets/fonts/NunitoSans-Regular.ttf') format('ttf');
} */

#app,
#app div,
#app a,
#app span,
#app table,
#app thead,
#app tbody,
#app tr,
#app td {
    font-family: 'Nunito Sans', sans-serif !important;
    /* font-weight: 500 !important; */
}


/* .v-application a {
    color: #78909C !important;
} */

#liveportfolio-table {
    background: none;
}

.avatar__border {
    border: 1px solid rgba(189, 189, 189, 0.2);
    /* rgba: (189,189,189, 0.2) */
}

.no-transform {
    text-transform: none !important;
    text-decoration: none !important;
}

.page__wrapper {
    max-width: 1080px !important;
    margin-top: 40px !important;
}

.page__wrapper.profile-page__wrapper {
    max-width: 940px !important;
    margin-top: 40px !important;
}

.pa-05 {
    padding: 2px !important;
}

.v-list-item {
    user-select: text !important;
}


/*Start Alert notification */

.snotifyToast__inner {
    padding: 0 !important;
}

.snotify-icon {
    display: none;
}

.alertLeft__container {
    width: 45px;
    height: 45px;
    border-radius: 50px;
    margin: 0 auto;
    overflow: hidden;
}

img.alertProfile__image {
    width: auto;
    height: 100%;
}

span.alertSender__name {
    font-weight: bold;
    font-size: 12px;
}

span.alertSender__message {
    font-size: 12px;
}

.alertRight__container {
    line-height: 1;
}

.snotifyToast__inner {
    min-height: 60px !important;
}

.snotifyToast {
    background: none !important;
}

.alertContainer {
    background: #B0C0C8;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2), 0px 3px 4px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.14);
}

.alertLink__a {
    width: 100%;
}


/*End Alert notification */


/* Start Global read and unread flag notification */

.notification__item.theme--light.read {
    background-color: #fff;
}

.notification__item.theme--light.unread {
    background: rgba(211, 212, 213, 0.5);
}

.notification__item.theme--dark.read {
    background-color: #00121e;
}

.notification__item.theme--dark.unread {
    background: rgba(1, 14, 23, 0.8);
}


/* End Global read and unread flag notification */


/* Start new post banner */

span.newPosts_banner {
    position: fixed;
    display: inline-table;
    left: 47.5%;
    right: 50%;
    top: 60px;
    padding: 4px 7px;
    background-color: #03dac5;
    border-radius: 39px;
    z-index: 999;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

span.newPosts_banner:hover {
    cursor: pointer;
}


/* End new post banner */