/* @import url('https://fonts.googleapis.com/css?family=Poppins&display=swap'); */
@import url('https://fonts.googleapis.com/css?family=Karla&display=swap');
#app {
    font-family: 'Karla', sans-serif !important;
}
#liveportfolio-table {
    background: none;
}
#table_tr_port-cont:hover {
    background: rgb(9, 26, 43);
}
#table_td_port-cont {
    border: none;
    cursor: pointer;
}
#table_head_tr_port-cont {
    border: none;
}
#table_tr_snap-cont:hover {
    background: rgb(9, 26, 43);
}
#table_td_snap-cont {
    border: none;
    cursor: pointer;
}
#table_head_tr_snap-cont {
    border: none;
}
.apexcharts-tooltip-series-group {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5) !important;
}
.apexcharts-svg {
    /* overflow: visible !important; */
}
.v-window.v-item-group.theme--light.v-tabs-items {
    background: none !important;
}
.v-slide-group__content.v-tabs-bar__content:before {
    content: "";
    width: 100%;
    position: absolute;
    bottom: -3px;
    z-index: 1;
    height: 4px;
    background: #000;
}
.tab_menu-top:not(.v-tab--active):not(.v-tab--disabled) {
    opacity: 1 !important;
    color: #fff !important;
}
.rtf_top-btn.v-btn--outlined:hover,
.rtf_top-btn.v-btn--outlined:active,
.rtf_top-btn.v-btn--outlined:focus {
    background-color: #48ffd5;
    border: 2px solid #48ffd5;
    color: #00121E !important;
    font-weight: 600 !important;
}
.rtf_top-btn.v-btn--outlined {
    letter-spacing: 0.1px !important;
}

.navbarDrawer__card-journal .v-navigation-drawer__border {
    background: #000 !important
}